
- HIGH SPEED SPRITE RENDERER
    Ability to render 100,000 things on screen at 60fps
    Using sprites close up, pixels for far away
    Troop colouring - loyalty, status, selected etc

- CAMERA
    Debug Camera (fly anywhere)
    Game Camera
        Landscape collisions / distance limiting
        Ability to easily navigate battlefield
        Satellite view

- LANDSCAPE SYSTEM
    Landscape generator
    Hitcheck system
    LOD renderer
    Buildings

    (Deformable EG large explosion)
    (Surface details eg charred grass)
    (Trees)
    (Rivers / Lakes)
    (Overhangs)
    (Bridges)

- WORLDOBJECT DATA SYSTEM
    Fast access to all WorldObjects within an area
    Capable of storing 100,000 objects
        Troops EG foot soldier, sniper, rocket launcher guy etc
        Flying troops
        Missiles

        (Explosion / fire effects / smoke effects)
        (Tanks ?)
        (Mechs ?)
        (BIG mechs ?)
    Object ID system
        Ability to get all units of a certain type within an area quickly
        Ability to cope with up to 16 teams

- PHYSICS
    Advance loop on the WorldObject data system
    Attractors and Repulsors
        Flocking behaviours for large groups of WorldObjects
    Deterministic / not linked to fps
    Real physics every second (Calculated updates)
    Fake physics every frame (Best guess updates)
    Different models:
        Troops walking over landscape
        Tanks rolling over landscape
        Missiles flying
        Explosions
    
- SOUND SYSTEM
    Ability to position sounds in a 3D world
    Tied in to visual system


- NETWORK SYSTEM
    Capable of:
        Synchronising up to X players without sending all data
        Detecting / handling network errors
        Internet play with broadband
