/////////////////////////////////////////////////////////////////////////////
//  Resource File for : Darwinia
#include "Darwinia.h"

// The following line is a workaround for a redefinition warning in sal.h
// when using Visual Studio 2005 compilers and includes.  Comment out the
// line if you would like to see the warning.
#define _INC_CRTDEFS


/////////////////////////////////////////////////////////////////////////////
// This resource files requires the Platform SDK to be compiled.
#ifdef TARGET_OS_VISTA
#include <gameux.h>
#endif

#define APSTUDIO_READONLY_SYMBOLS

#include <afxres.h>

#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Neutral Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
#ifdef _WIN32

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT
#pragma code_page(DEFAULT)
#endif //_WIN32

ID_GDF_XML           DATA     "NEU\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "NEU\\boxart_NEU.png"
ID_ICON              ICON     "NEU\\gameicon_NEU.ico"

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////
// English Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

ID_GDF_XML           DATA     "ENU\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "ENU\\boxart_ENU.png"
//ID_ICON              ICON     "ENU\\gameicon_ENU.ico"

#endif    // English resources
/////////////////////////////////////////////////////////////////////////////
// French Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
#ifdef _WIN32

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

ID_GDF_XML           DATA     "FRA\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "FRA\\boxart_FRA.png"
//ID_ICON              ICON     "FRA\\gameicon_FRA.ico"

#endif    // French resources
/////////////////////////////////////////////////////////////////////////////
// German Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
#ifdef _WIN32

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

ID_GDF_XML           DATA     "DEU\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "DEU\\boxart_DEU.png"
//ID_ICON              ICON     "DEU\\gameicon_DEU.ico"

#endif    // German resources
/////////////////////////////////////////////////////////////////////////////
// Italian Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ITA)
#ifdef _WIN32

LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

ID_GDF_XML           DATA     "ITA\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "ITA\\boxart_ITA.png"
//ID_ICON              ICON     "ITA\\gameicon_ITA.ico"

#endif    // Italian resources
/////////////////////////////////////////////////////////////////////////////
// Spanish Resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ESP)
#ifdef _WIN32

LANGUAGE LANG_SPANISH, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

ID_GDF_XML           DATA     "ESP\\Darwinia.gdf.xml"
ID_GDF_THUMBNAIL     DATA     "ESP\\boxart_ESP.png"
//ID_ICON              ICON     "ESP\\gameicon_ESP.ico"

#endif    // Spanish resources
/////////////////////////////////////////////////////////////////////////////
